@use '@/styles/variables' as *;

.tasks {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    min-height: 600px;

    background: $color-bg-surface;

    padding: 20px;

    border-radius: 10px;

    box-shadow: 4px 4px 20px 0 #00000016;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}