@use '@/app/styles/mixins/mobile' as *;
@use '@/app/styles/mixins/sizes' as *;
@use '@/app/styles/mixins/flex';

.main {
	@include flex.center();
	flex-direction: row;
	gap: 20px;

	margin-top: 80px;
	padding-inline: px-to-rem(100);

	width: 100%;
	min-height: 600px;

	@include mobile() {
		flex-direction: column;
		padding: 20px;
	}
}
