.form {
	margin-bottom: 10px;
}

.main {
	display: flex;
	justify-content: space-between;
	grid-template-columns: 2fr 1fr;
	gap: 10px;
}

.button {
	width: 200px;
}

.input {
	&__title {
		width: 100%;
	}

	&__leetcode {
		margin-top: 10px;
		width: 100%;

		animation: appearing 0.2s ease;
	}
}

@keyframes appearing {
	from {
		opacity: 0;
		transform: translateY(-50%);
	}
}
