@use '@/app/styles/mixins/mobile' as *;
@use '@/app/styles/variables' as *;
@use '@/app/styles/mixins/flex';

.task {
	width: 100%;
	height: 40px;

	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 10px;

	transition: all 0.2s ease;

	&:hover {
		background: $color-bg;
		.title {
			border: 1px solid $color-secondary;
		}
	}
}

.button {
	width: 40px;
	height: 40px;
}

.actions {
	display: flex;
	align-items: center;
	gap: 10px;
}

.createdAt {
	color: $color-secondary;
	font-weight: 600;

	@include mobile(600px) {
		display: none;
	}
}

.title {
	padding: 0 10px 0 10px;
	height: 100%;

	display: flex;
	align-items: center;

	border-radius: 10px;
	border: 1px dashed $color-secondary;

	transition: box-shadow 0.2s ease;
}
